<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Arcus • Search results</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>

<body class="container-fluid" id="main">
  <!-- Start your project here-->

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light white lighten-4 bottom-bord">
    <!-- Additional container -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand mr-4" href="index.html"><img src="img/pa_logo.png" height="50" class="d-inline-block align-top"
        alt="mdb logo"></a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <form action="/search" method="GET">
              <select name="search" id="search" onchange="this.form.submit()">
                <option value="1">Select Product Family</option>
                <option value="storage">Storage</option>
                <option value="compute">Compute</option>
                <option value="database">Database</option>
                <option value="migration">Migration</option>
                <option value="networking and content delivery">Networking & Content Delivery</option>
                <option value="development">Development Tools</option>
                <option value="management tools">Management Tools</option>
                <option value="media services">Media Services</option>
                <option value="security,identity and compliance">Security, Identity & Compliance</option>
                <option value="analytics">Analytics</option>
                <option value="machine learning">Machine Learning</option>
                <option value="mobile services">Mobile Services</option>
                <option value="ar & vr">AR & VR</option>
                <option value="application integration">Application Integration</option>
                <option value="customer engagement">Customer Engagement</option>
                <option value="desktop and app streaming">Desktop & App Streaming</option>
                <option value="internet of things">Internet Of Things</option>
                <option value="game development">Game Development</option>
              </select>
        </form>
        <!-- Links -->
        &nbsp;&nbsp;&nbsp;&nbsp;

        <form action="/search" method="GET">
              <select name="search" id="search" onchange="this.form.submit()">
                <option value="1">Select Cloud Provider</option>
                <option value="aws">AWS</option>
                <option value="azure">Azure</option>
                <option value="gcp">GCP</option>
                <option value="sap">SAP</option>
              </select>
        </form>
        <ul class="navbar-nav mr-auto gotham-light">
      <!--     <li class="nav-item dropdown mr-4">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">PRODUCT FAMILY</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <!--Need to add links to search for each dropdown for that family-->
        <!--          <a class="dropdown-item nav-option" href="search" name="search">Compute</a>
                <a class="dropdown-item nav-option" href="search">Storage</a>
               <a class="dropdown-item nav-option" href="search">Database</a>
               <a class="dropdown-item nav-option" href="search">Migration</a>
               <a class="dropdown-item nav-option" href="search">Networking & content delivery</a>
               <a class="dropdown-item nav-option" href="search">Developer tools</a>
              <a class="dropdown-item nav-option" href="search">Management tools</a>
                <a class="dropdown-item nav-option" href="search">Media services</a>
               <a class="dropdown-item nav-option" href="search">Security, identity & compliance</a>
               <a class="dropdown-item nav-option" href="search">Analytics</a>
              <a class="dropdown-item nav-option" href="search">Machine learning</a>
               <a class="dropdown-item nav-option" href="search">Mobile services</a>qA
               <a class="dropdown-item nav-option" href="search">AR & VR</a>
               <a class="dropdown-item nav-option" href="search">Application integration</a>
               <a class="dropdown-item nav-option" href="search">Customer engagement</a>
               <a class="dropdown-item nav-option" href="search">Desktop & app streaming</a>
               <a class="dropdown-item nav-option" href="search">Internet of things</a>
             <a class="dropdown-item nav-option" href="search">Game development</a>
             </div>
         </li> -->

          <!--  <li class="nav-item dropdown mr-4">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">CLOUD PROVIDER</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <!--Need to add links to search for each dropdown for that family in href-->
              <!--     <a class="dropdown-item nav-option" href="search">AWS</a>
                <a class="dropdown-item nav-option" href="search">GCP</a>
                <a class="dropdown-item nav-option" href="search">Azure</a>
                <a class="dropdown-item nav-option" href="search">SAP</a>
              </div>
          </li> -->
          <!--  <li class="nav-item mr-4">
            <a class="nav-link" href="help.html">HELP</a>
          </li> -->
        </ul>

        <!-- Links -->

        <!--   <form class="form-inline mr-5">-->
          <div class="md-form my-0">
            <li class="nav-item mr-4">
              <a class="nav-link" href="help">HELP</a>
            </li>
          </div>

        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
    <!-- Additional container -->
  </nav>
  <!--/.Navbar-->

  <!--Mask & main page-->
  <div class="mt-4 container-fluid active-cyan-4 mb-5">
    <img src="img/binoculars_head.jpg" style="width:100%" class="img-responsive">
    <p class="title img-responsive">Search results</p>
    <p class="subtitle">Projects found in the Arcus database</p>
  </div>
  <!--/.Mask-->

  <!--Main layout-->
  <main class="container">

    <div class="mb-4 search-head">
      <h3 class="search_title">Search for AWS provider</h3>

      <form class="form-inline active-cyan-4" id="filterSearch">
        <input class="form-control form-control-sm mr-3" type="text" placeholder="Type some keywords to filter" aria-label="Search">
        <a href="search_results.html"><i class="fa fa-search" aria-hidden="true"></i></a>
      </form>
    </div>

    <div class="row mb-4">
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Amazon Lightsail Launch</h5>
              <p class="card-text">Amazon LightSail Launch and Manage Virtual Private Servers</p>
              <p class="card-text">Contact: James Smith</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="row mb-4">
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Amazon Lightsail Launch</h5>
              <p class="card-text">Amazon LightSail Launch and Manage Virtual Private Servers</p>
              <p class="card-text">Contact: James Smith</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Amazon Lightsail Launch</h5>
              <p class="card-text">Amazon LightSail Launch and Manage Virtual Private Servers</p>
              <p class="card-text">Contact: James Smith</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="row mb-4">
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Amazon Lightsail Launch</h5>
              <p class="card-text">Amazon LightSail Launch and Manage Virtual Private Servers</p>
              <p class="card-text">Contact: James Smith</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="about_product.html">
          <div class="card hoverable">
            <div class="card-body">
              <h5 class="card-title product-bold">Product title</h5>
              <p class="card-text">Shoryt product bio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p class="card-text">Contact: XXXX</p>
              <i class="fa fa-clock-o grey-icon mr-1" aria-hidden="true"></i><span class="extra-info mr-2">Completed</span>
              <i class="fa fa-circle-o-notch grey-icon mr-1" aria-hidden="true"></i><span class="extra-info">Experience: 4/5</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!--only want this to appear when not on page 1... maybe just have all results on one page and scrap these buttons?-->
        <div class="col-sm-6">
          <a href="search_results.html">Prev page</a>
        </div>
        <div class="col-sm-6 align-right">
          <a href="search_results.html">Next page</a>
        </div>
      </div>

    </main>
    <!--Main layout-->

  </body>

  <!-- Footer -->
  <footer class="page-footer footer-search font-small black pt-4 gotham-light">
    <div class="container-fluid text-center">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 ml-5 text-md-left">
          <!-- Content -->
          <h5 class="text-uppercase">any questions, contact</h5>
          <p>digital@paconsulting.com</p>
        </div>
        <!--/.Grid column -->
        <!-- Grid column -->
        <div class="col-md-5 mt-md-0 mt-3 text-md-right">
          <!-- Content -->
          <p></p>
          <p>Copyright © PA Knowledge Limited 2018</p>
        </div>
        <!--/.Grid column -->
      </div>
      <!--/.Grid row -->
    </div>
  </footer>
  <!--/.Footer -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

  </html>
